body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.yearDisplay {
  font-size: 20px; /* Cambia el tamaño de la fuente */
  font-family: 'Arial', sans-serif; /* Cambia la familia de fuentes */
  font-weight: bold; /* Hace que el texto sea en negrita */
  color: #00050a; /* Cambia el color del texto */
}